
/* global attribute */
/* *{
    color:red;
    font-size:20px;
} */

/*  */
h1{
    color:red;
    align: center;

}

/* attribute selector */
a[title="google"]{
    color:blue;
    letter-spacing: 10px;
}

/* id selector */
#idOne{
    color:brown;

}
/* class selector */
.classOne{
    color:brown;
    line-height: 30px;
    text-indent: 40px;
    text-transform: capitalize;
    word-spacing:10px;

}

/* descendent selector */
.desc a{
    color:red;
    text-decoration: none;
}

/* Child selector */
.child > a{
    color:green;
}
/* Pseudo selector */
/* :link */
a:link{
    color:red;
}
a:hover{
    color:green;
}
a:active{
    color:yellow;
}
a:visited{
    color:brown;
}
/* target */
:target{
    color:red;
    border:2px solid black;
}

/* Positoin lesson */
.relative_parent{
    border:2px solid green;
    width:1000px;
    height:500px;
}
 .relative{
    border:2px solid green;
    width:500px;
    height:200px;
    position:relative;
    top:100px;
    left:150px;
 }
 .absolute_parent{
    border:2px solid yellow;
    width:1000px;
    height:500px;
    position:relative;
 }
 .absolute{
    border:2px solid black;
    width:200px;
    height:300px;
    position:absolute;
    top:100px;
    right:30px;
 }
 .fixed{
    position:fixed;
    top:100px;
    right:100px;
}